@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand&display=swap');

body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: 'Quicksand', sans-serif;
    color: steelblue;
    text-align: center;
}

h1 {
    font-size: 45px;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.4em;
    padding-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: lightsteelblue;
    padding: 40px;
    margin: 0 auto;
}

header h1 {
    font-family: 'Abril Fatface', cursive;
}

img {
    padding: 10px;
    width: 50%;
    height: auto;
}

main {
    margin-bottom: 2em;
}

.main-content {
    text-align: center;
}

footer {
    background-color: lightsteelblue;
    padding: 20px;
    margin: 0;
    text-align: center;
}

footer p {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

nav {
    padding-top: 20px;
}

.navbar-item {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: midnightblue;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.navbar a:hover {
    color: goldenrod;
}

.page {
    line-height: 10px;
    text-align: left;
}
